#Development
VITE_ENVIRONMENT=development
VITE_PORT=8095

#General
VITE_APP_NAME='Morpheus Dashboard'
VITE_APP_DESCRIPTION='Morpheus Dashboard: capital, community, coders, compute'
VITE_APP_URL='https://morpheus.206.189.243.3.sslip.io'
VITE_APP_WALLET_CONNECT_PROJECT_ID='abcdefghijklmnopqrstuvwxyz'
#VITE_APP_BUILD_VERSION='1.0.0'

#Testnet
VITE_APP_ERC1967_PROXY_TESTNET_CONTRACT_ADDRESS='0x55d4C77FD4b4A497ff9617eb6cB56055CE90db36'
VITE_APP_STETH_TESTNET_CONTRACT_ADDRESS='0x7D980898e3C8B073A92f63bcF830E508e77598D0'
VITE_APP_MOR_TESTNET_CONTRACT_ADDRESS='0x83E748FC5f069945230531e7Ef8Ec6651845265c'
VITE_APP_ENDPOINT_TESTNET_CONTRACT_ADDRESS='0xae92d5aD7583AD66E49A0c67BAd18F6ba52dDDc1'

#Mainnet
VITE_APP_ERC1967_PROXY_MAINNET_CONTRACT_ADDRESS='0x47176B2Af9885dC6C4575d4eFd63895f7Aaa4790'
VITE_APP_STETH_MAINNET_CONTRACT_ADDRESS='0xae7ab96520DE3A18E5e111B5EaAb095312D7fE84'
VITE_APP_MOR_MAINNET_CONTRACT_ADDRESS='0x7431aDa8a591C955a994a21710752EF9b882b8e3'
VITE_APP_ENDPOINT_MAINNET_CONTRACT_ADDRESS='0x66A71Dcef29A0fFBDBE3c6a460a3B5BC225Cd675'